In [1]:
l = [1,2,7,8,53,53,"rohan",8584,2.22]

In [2]:
#challenge= 
#extract each and every data present inside the list one by one automatically
#do operations on them
#print

#USE LOOP OPERATION

In [3]:
l[0] #EXTRACTING THROUGH INDEXING

1

In [4]:
l[2:7] #SLICING OPERATION

[7, 8, 53, 53, 'rohan']

In [5]:
for i in l: #LOOP #loop will not terminate until and unless i will reach the last element of the list.
    print(i) # i takes value and print, then takes another value and print, and so on until the last element of the list
             #we have created a local variable i for the for loop
            #extracting elements through FOR loop
            #list holds each character in the form of indices, therefore i can be iterated through it.

1
2
7
8
53
53
rohan
8584
2.22

In [6]:
for i in l[0:4]:
    print(i)

1
2
7
8

In [7]:
for i in l[::-1]:
    print(i)

2.22
8584
rohan
53
53
8
7
2
1

In [8]:
l1=[3.343,2323,4,43,32]

In [9]:
for i in l1:
    print(i+1)

4.343
2324
5
44
33

In [11]:
for i in l:
    print(i+1) #string cannot be concatenated with integer

2
3
8
9
54
54

TypeError: can only concatenate str (not "int") to str

In [12]:
l

[1, 2, 7, 8, 53, 53, 'rohan', 8584, 2.22]

In [13]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)==float:
        print(i+1)
    else:
        print(i + str(1))

2
3
8
9
54
54
rohan1
8585
3.22

In [14]:
l1=[2,4,53,5,754,5,45,'rohan',0.222,'sudhanshu','rahul',298,"mittal",9.325235325]

In [15]:
#challenge= create a list of integers only, strings only, float only

In [16]:
for i in l1:
    if type(i)==int:
        print(i)
    else:
        pass

2
4
53
5
754
5
45
298

In [17]:
l1

[2,
 4,
 53,
 5,
 754,
 5,
 45,
 'rohan',
 0.222,
 'sudhanshu',
 'rahul',
 298,
 'mittal',
 9.325235325]

In [18]:
l2 = [] 
l3 = []
l4 = []
for i in l1:
    if type(i)==int:
        l2.append(i) #appending the integer elements of the list l1 to the list l2
    elif type(i)==str:
        l3.append(i) #appending the string elements to the list l3
    elif type(i)==float:
        l4.append(i) #appending the string elements to the list l4

In [19]:
l2

[2, 4, 53, 5, 754, 5, 45, 298]

In [20]:
l3

['rohan', 'sudhanshu', 'rahul', 'mittal']

l4

In [21]:
l4

[0.222, 9.325235325]

In [22]:
s = "rohan" # strings holds each character in the form of indices, therefore i can be iterated through it.
for i in s: # i is a local variable
    print(i)

r
o
h
a
n

In [23]:
l

[1, 2, 7, 8, 53, 53, 'rohan', 8584, 2.22]

In [24]:
for i in l:
    print(i)
    
else:  # this statement will be executed only after the exhaution of the above FOR loop
    print("if for loop is going to complete itself,it will execute else")

1
2
7
8
53
53
rohan
8584
2.22
if for loop is going to complete itself,it will execute else

In [25]:
l

[1, 2, 7, 8, 53, 53, 'rohan', 8584, 2.22]

In [26]:
for i in l:
    if i==8:
        break #it breaks the FOR loop
        print(i) #INDENTATION IS NOT PROPERLY DONE #INDENTED INSIDE IF STATEMENT 
    else :   #this will execute only when IF statement is wrong
        print("this will execute only if FOR loop is going to complete itself without break in between ")

this will execute only if FOR loop is going to complete itself without break in between
this will execute only if FOR loop is going to complete itself without break in between
this will execute only if FOR loop is going to complete itself without break in between

In [27]:
for i in l:
    if i==7:
        break #it breaks the FOR loop
        print(i) #INDENTED INSIDE 'IF' STATEMENT
    else :   #this will execute only when ''if'' STATEMENT IS FALSE #INDENTED INSIDE ''FOR'' LOOP
        print("this will execute only if FOR loop is going to complete itself without break in between ")

this will execute only if FOR loop is going to complete itself without break in between
this will execute only if FOR loop is going to complete itself without break in between

In [28]:
for i in l:
    if i==8:
        break #it breaks the FOR loop  in between ,thus FOR loop breaks without its completion. 
    print(i) #INDENTED INSIDE 'FOR' LOOP
else :   #this will execute only if FOR loop is going to complete itself without break in between  
         #this is part of FOR loop,and will be executed after the exhaustion of the iteration of i in l
    print("this will execute only if FOR loop is going to complete itself without break in between ")

1
2
7

In [29]:
#LESSON=observe the above three cases and see the importance of indentation

In [30]:
s = "rohanpradhanscaler"
for i in s:
    if i== "s":
        break #it breaks the FOR loop in between,before it completes its iterations
    print(i)
else: # for 'i' is not in 's' i.e after the exhaustion of iteration of i in the string, then ELSE
      #when i has no iteration left, then else statement is executed
        #else is part of the FOR loop, and is the terminal stage of FOR loop
    print("print string")

r
o
h
a
n
p
r
a
d
h
a
n

In [31]:
s = "rohanpradhanscaler"
for i in s:
    if i== "z":
        break #it breaks the FOR loop in between,before it completes its iterations
    print(i)
else: # for 'i' is not in 's' i.e after the exhaustion of iteration of i in the string, then ELSE
      #when i has no iteration left, then else statement is executed
        #else is part of the FOR loop, and is the terminal stage of FOR loop
    print("print string",s)

r
o
h
a
n
p
r
a
d
h
a
n
s
c
a
l
e
r
print string rohanpradhanscaler

In [32]:
t=(4,5,43,66,4564,35,73,4)

In [33]:
#RECALL:
#tuples are immutable i.e re-assignment operation cannot be done on its elements
#lists are mutable i.e re-assignment operation can be done on its elements
#strings are immutable i.e re-assignment operation cannot be done on its elements

In [34]:
t

(4, 5, 43, 66, 4564, 35, 73, 4)

In [35]:
for i in t:
    print(i) #extracting dataset from tuple one by one

4
5
43
66
4564
35
73
4

In [36]:
s={3,542534,4,4,4,4,345,"roh"}  #set

In [37]:
s

{3, 345, 4, 542534, 'roh'}

In [38]:
for i in s:
    print(i) #extracting dataset from set one by one

3
4
roh
542534
345

In [39]:
d={"key1":"amazon","country":"united states","toll free no.":12345}  #dict

In [40]:
for i in d: #d takes the key,by default 
    print(i)

key1
country
toll free no.

In [41]:
for i in d.values(): #iterated value
    print(i)  #printed value

amazon
united states
12345

In [42]:
d["key1"]

'amazon'

In [43]:
for i in d: #iterated key
    print(d[i]) #printed value of the respective iterated key

amazon
united states
12345

In [44]:
#NOTE: FOR loop can be iterated through all collections i.e list, string,set, tuples, dict,etc

In [45]:
for i in d: #iterated key
    print(d[i],i) #printed value and its respective key

amazon key1
united states country
12345 toll free no.

In [46]:
#NESTED 'FOR' LOOP

In [47]:
#RANGE FUNCTION

In [48]:
 range(9) #function  #generator of dataset #generate dataset excluding upper bound value

range(0, 9)

In [49]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
range(9) #function #by default 0 as lower bound and 1 as the jump factor

range(0, 9)

In [51]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [52]:
range(0,9,2) #function #lower bound, upper bound, jump factor

range(0, 9, 2)

In [53]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [54]:
list(range(0,9,-1)) #conflict of direction, therefore blank

[]

In [55]:
list(range(0,9,2)) #even numbers

[0, 2, 4, 6, 8]

In [56]:
for i in range(0,9,2): #even numbers
    print(i)

0
2
4
6
8

In [57]:
for i in range(1,9,2): #odd numbers
    print(i)

1
3
5
7

In [58]:
#NESTED FOR LOOP

In [59]:
n=4 #number of rows
for i in range(n): #this loop writes the verticals 
    for j in range(0,i+1): #this loop writes the horizontals in the respective vertical element
        print("rohan",end=" ")
    print("\n")  #\n = changing the line

rohan

rohan rohan

rohan rohan rohan

rohan rohan rohan rohan

In [60]:
#LESSON= since the output asked is two-dimensional pattern, therefore nested 'for' loop required
#one FOR loop for columns and other nested FOR loop for rows
#THUS WE CAN INFER THAT TWO DIMENSIONAL pattern OUTPUTS REQUIRES NESTED 'FOR' LOOP

In [61]:
n=3 #number of rows
for i in range(n):
    for j in range(i,n-1):
        print(" "* len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [62]:
n=3 #number of rows
for i in range(n):
    for j in range(i,n-1):
        print(" "* len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")      
        
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [63]:
t=(2,324,42,12,44,22,6,976,54,35,667,344)

In [64]:
#challenge= print element of the tuple and its index

In [65]:
for i in range(len(t)):
    print(i,t[i])

0 2
1 324
2 42
3 12
4 44
5 22
6 6
7 976
8 54
9 35
10 667
11 344

In [66]:
s = "ineuron"

In [67]:
for i in  range(len(s)): #sabse pehle length, fir range, fir 'for' iteration
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [68]:
for i in range(len(s)-1,-1,-1): # index zero is missed out if the upper bound is 0 
    print(i)

6
5
4
3
2
1
0

In [69]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [70]:
d

{'key1': 'amazon', 'country': 'united states', 'toll free no.': 12345}

In [71]:
#challenge: print all the elements of dictionary in the tuple

In [72]:
d.items()

dict_items([('key1', 'amazon'), ('country', 'united states'), ('toll free no.', 12345)])

In [73]:
for i in d.items():
    print(i)

('key1', 'amazon')
('country', 'united states')
('toll free no.', 12345)

In [74]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'amazon') <class 'tuple'> <class 'str'>
('country', 'united states') <class 'tuple'> <class 'str'>
('toll free no.', 12345) <class 'tuple'> <class 'int'>

In [75]:
l=["sudh","kumar",9968684858,"sudhanshu@ineuron.ai",463747,2391239]

In [76]:
#challenge=extract only numbers and create a separate list

In [77]:
l1=[] #blank list
for i in l:
    if type(i) == int:
        l1.append(i)
        
print(l1)

[9968684858, 463747, 2391239]

In [78]:
l

['sudh', 'kumar', 9968684858, 'sudhanshu@ineuron.ai', 463747, 2391239]

In [79]:
d={1:2324,"name":"sudh","email_id":"sudhanshu@ineuron.ai",234:"ehdbhedb","23":"wedewdwe",3776:"342342"}

In [80]:
#challenge=extract all key-value pairs where key is int

In [81]:
for i in d:
    if type(i)==int:
        print(i,d.values())

1 dict_values([2324, 'sudh', 'sudhanshu@ineuron.ai', 'ehdbhedb', 'wedewdwe', '342342'])
234 dict_values([2324, 'sudh', 'sudhanshu@ineuron.ai', 'ehdbhedb', 'wedewdwe', '342342'])
3776 dict_values([2324, 'sudh', 'sudhanshu@ineuron.ai', 'ehdbhedb', 'wedewdwe', '342342'])

In [82]:
for i in d:
    if type(i)==int:
        print(i,":",d[i])

1 : 2324
234 : ehdbhedb
3776 : 342342

In [83]:
s1="aaaabbccd"

In [84]:
#challenge:
#number of occurences of unique characters

In [85]:
set(s1) #finding the unique element in the string s1

{'a', 'b', 'c', 'd'}

In [86]:
for i in set(s1):
    print(i,":",s1.count(i))

a : 4
d : 1
b : 2
c : 2

In [87]:
i10 = 273628362198487234783847

In [88]:
#challenge=extract individual integers
#note= integer objects are not iterable

In [89]:
i10

273628362198487234783847

In [90]:
for j in str(i10): #performing typecasting operation
    print(int(j), type(j))

2 <class 'str'>
7 <class 'str'>
3 <class 'str'>
6 <class 'str'>
2 <class 'str'>
8 <class 'str'>
3 <class 'str'>
6 <class 'str'>
2 <class 'str'>
1 <class 'str'>
9 <class 'str'>
8 <class 'str'>
4 <class 'str'>
8 <class 'str'>
7 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
7 <class 'str'>
8 <class 'str'>
3 <class 'str'>
8 <class 'str'>
4 <class 'str'>
7 <class 'str'>

In [91]:
for j in str(i10): #performing typecasting operation
    print((j), type(j))

2 <class 'str'>
7 <class 'str'>
3 <class 'str'>
6 <class 'str'>
2 <class 'str'>
8 <class 'str'>
3 <class 'str'>
6 <class 'str'>
2 <class 'str'>
1 <class 'str'>
9 <class 'str'>
8 <class 'str'>
4 <class 'str'>
8 <class 'str'>
7 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
7 <class 'str'>
8 <class 'str'>
3 <class 'str'>
8 <class 'str'>
4 <class 'str'>
7 <class 'str'>

In [92]:
str(i10)

'273628362198487234783847'

In [93]:
t= ("sud3h","kum3ar",[3,54,35,63,64],(3,5,35,6),{"key1":"sudh","key2":"kumar"})

In [94]:
#challenge: extract 3
#note=tuples,dictionary are iterable

In [95]:
for i in t:
    if type(i)==str:
        for j in i:
            if j=="3": #3 is a string in this case, and not an integer
                print(j)
    if type(i)==list:
        for j in i:
            if j==3:
                print(j)
    if type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for j in i:
            if j=="3":
                print(j)
        for j in i.values():
            if j=="3":
                print(j)

3
3
3
3

In [96]:
t

('sud3h',
 'kum3ar',
 [3, 54, 35, 63, 64],
 (3, 5, 35, 6),
 {'key1': 'sudh', 'key2': 'kumar'})

In [97]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j==3:
                print(j)

3
3

In [98]:
t2= ("sud3h","kum3ar",[3,54,35,63,64],(3,5,35,6),{3:"sudh","key2":"3"})

In [99]:
for i in t2:
    if type(i)==str:
        for j in i:
            if j=="3": #3 is a string in this case, and not an integer
                print(j)
    if type(i)==list:
        for j in i:
            if j==3:
                print(j)
    if type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for j in i:
            if j==3:
                print(j)
        for j in i.values():
            if j=="3":
                print(j)

3
3
3
3
3
3

In [100]:
t3= ("sud3h","kum3ar",[3,54,35,63,64],(3,5,35,6),{3:3,"key2":"kumar"})

In [101]:
for i in t3:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items(): #k, v read the tuple inside the dictionary at once in during the for loop
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3

In [102]:
#note= all the below three statements are same=three types of variable declaration

In [103]:
a= 10
b=20
c=30

In [104]:
a,b,c=10,20,30

In [105]:
a,b,c=(10,20,30) #tuples are also used to declare value

In [106]:
d10={4:5,"key1":"rohan","key2":"pradhan"}

In [107]:
d10.items()

dict_items([(4, 5), ('key1', 'rohan'), ('key2', 'pradhan')])

In [108]:
for i,j in d10.items(): #i,j =variable declaration in tuple form #for loop ek sath ek tuple ko read karega in this case
    print(i,j)

4 5
key1 rohan
key2 pradhan

In [109]:
n1=4
for i in range(n1):
    for j in range(0,i+1):
        print("ineuron",end=" ")
    print("\n")  #changing the line

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [110]:
for i in range(5):
    for j in range(0):
        print(" "*10,"ineuron",end=" ")
    for j in range(0,i+1):
        print("ineuron"," "*5,end=" ")
    for j in range(0,i-1):
        print(" "*10,"ineuron",end=" ")
    print(" ")

ineuron
ineuron       ineuron
ineuron       ineuron       ineuron                  ineuron
ineuron       ineuron       ineuron       ineuron                  ineuron            ineuron
ineuron       ineuron       ineuron       ineuron       ineuron                  ineuron            ineuron            ineuron

In [111]:
l30=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),{23,45,5,6546,74,464,4,5,6,7},
     {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [112]:
#challenge=extract all the list entity
#extract all dictionary entities
#extract tuples entities
#extract all the numerical data, it may be a part of dict key and values
#try to give summation of all the numeric data
#try to filter out all the odd values out of all numeric data which is a part of a list
#try to extract ineuron of this data
#try to find out number of occurence of alll the data
#try to find out number of keys    in dict element
#try to filter out all the string data
#try to find out alphanumeric in data
#try to find out multiplication of all the numeric value in the individual collection inside dataset
#try to unwrap all the collection inside collection and create a flat list

In [113]:
for i in l30:
    if type(i)==list:
        for j in i:
            print(j) #extracting all the list entities

1
2
3
4
ineuron
data science

In [114]:
for i in l30:
    if type(i)==dict:
        for j in i:
            print(j) #extracting all the keys of the dict
        for k in i.values():
            print(k) #extracting all the values of the dict

k1
k2
k3
3
7
sudh
ineuron
kumar
6
8

In [115]:
for i in l30:
    if type(i)==tuple:
        for j in i:
            print(j) #extracting all the tuple entities

2
3
4
5
6
3
4
5
6
7

In [116]:
l30=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),{23,45,5,6546,74,464,4,5,6,7},
     {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [117]:
#extract all the numerical data, it may be a part of dict key and values
for i in l30:
    for j in i:
        if type(j)==int:
            print(j)
    if type(i)==dict:
        for j in i.values():
            if type(j)==int:
                print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
4
5
6
7
74
45
464
6546
23
3
7
6
8

In [118]:
l30=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),{23,45,5,6546,74,464,4,5,6,7},
     {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [119]:
#try to give summation of all the numeric data

In [127]:
l31=[]
for i in l30:
    for j in i:
        if type(j)==int:
            l31.append(j)
    if type(i)==dict:
        for j in i.values():
            if type(j)==int:
                l31.append(j)
l31

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 4,
 5,
 6,
 7,
 74,
 45,
 464,
 6546,
 23,
 3,
 7,
 6,
 8]

In [135]:
b=sum(l31)

In [136]:
b

7253

In [137]:
sum(i for i in l31)

7253

In [139]:
l30

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 6, 7, 23, 45, 74, 464, 6546},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [ ]:
#try to filter out all the odd values out of all numeric data which is a part of a list

In [150]:
for i in l30:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if j%2 != 0:
                    print(j)

1
3