In [1]:
l = [1,2,7,8,53,53,"rohan",8584,2.22]

In [2]:
#challenge= 
#extract each and every data present inside the list one by one automatically
#do operations on them
#print

#USE LOOP OPERATION

In [3]:
l[0] #EXTRACTING THROUGH INDEXING

1

In [4]:
l[2:7] #SLICING OPERATION

[7, 8, 53, 53, 'rohan']

In [5]:
for i in l: #LOOP #loop will not terminate until and unless i will reach the last element of the list.
    print(i) # i takes value and print, then takes another value and print, and so on until the last element of the list
             #we have created a local variable i for the for loop

1
2
7
8
53
53
rohan
8584
2.22

In [6]:
for i in l[0:4]:
    print(i)

1
2
7
8

In [7]:
for i in l[::-1]:
    print(i)

2.22
8584
rohan
53
53
8
7
2
1

In [8]:
l1=[3.343,2323,4,43,32]

In [9]:
for i in l1:
    print(i+1)

4.343
2324
5
44
33

In [11]:
for i in l:
    print(i+1) #string cannot be concatenated with integer

2
3
8
9
54
54

TypeError: can only concatenate str (not "int") to str

In [12]:
l

[1, 2, 7, 8, 53, 53, 'rohan', 8584, 2.22]

In [13]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)==float:
        print(i+1)
    else:
        print(i + str(1))

2
3
8
9
54
54
rohan1
8585
3.22

In [14]:
l1=[2,4,53,5,754,5,45,'rohan',0.222,'sudhanshu','rahul',298,"mittal",9.325235325]

In [15]:
#challenge= create a list of integers only, strings only, float only

In [16]:
for i in l1:
    if type(i)==int:
        print(i)
    else:
        pass

2
4
53
5
754
5
45
298

In [17]:
l1

[2,
 4,
 53,
 5,
 754,
 5,
 45,
 'rohan',
 0.222,
 'sudhanshu',
 'rahul',
 298,
 'mittal',
 9.325235325]

In [22]:
l2 = [] 
l3 = []
l4 = []
for i in l1:
    if type(i)==int:
        l2.append(i) #appending the integer elements of the list l1 to the list l2
    elif type(i)==str:
        l3.append(i) #appending the string elements to the list l3
    elif type(i)==float:
        l4.append(i) #appending the string elements to the list l4

In [21]:
l2

[2, 4, 53, 5, 754, 5, 45, 298]

In [23]:
l3

['rohan', 'sudhanshu', 'rahul', 'mittal']

l4

In [24]:
l4

[0.222, 9.325235325]