In [22]:
d= {3:3,"key2":"kumar"}

In [24]:
 if type(d)==dict:
        for k,v in d.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3

In [25]:
t3= ("sud3h","kum3ar",[3,54,35,63,64],(3,5,35,6),{3:3,"key2":"kumar"})

In [26]:
for i in t3:
    if type(i)==list or type(i)==tuple or type(i)==str:
        for j in i:
            if j== 3 or "3"
                print(j)

SyntaxError: invalid syntax (1653499920.py, line 4)

In [42]:
t10=([3,5,54,534,34],(3,0,545,356))

In [43]:
for i in t10:
    if type(i)==list:
        for j in i:
            if j==3:
                print(j)

3

In [44]:
for i in t10:
    if type(i)==tuple:
        for j in i:
            if j==3:
                print(j)

3

In [46]:
for i in t10:
    if type(i)==list or tuple:
        for j in i:
            if j==3:
                print(j)

3
3

In [47]:
for i in t10:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)

3
3

In [95]:
t3= ("sud3h","kum3ar",[3,54,35,63,64],(3,5,35,6),{3:3,"key2":"kumar"})

In [96]:
for i in d:
    if type(i)==list or tuple:
        for j in i:
            if j==3:
                print(j)

TypeError: 'int' object is not iterable

{3: 3, 'key2': 'kumar'}