In [1]:
#examples of inbuilt functions:
#len()
#range()
#print()
#keys()
#values()
#items()
#append
#pop
#insert
#extend
#etc

In [2]:
#it is possible to create functions by ourselves and make them available to use by others 
#i.e making them public for others to install or use

In [3]:
def test():  #definition of the function i.e i have choosen the name of the function(to be made by me) as test()
    print("this is my first function") #function created #print statement gives none data type to the function #this indented block is the body of the function

In [4]:
test() #calling out the function created by me

this is my first function

In [5]:
type(test())

this is my first function

NoneType

In [6]:
#test()+"rohan" #concatenation not possible bcz none type cannot be concatenated with string type

In [7]:
 def test1(): #creating another function named test1()
        return("this is my first function" ) #return statement gives the data type as it is, unlike print which gives none type dataset

In [8]:
test1()

'this is my first function'

In [9]:
type(test1()) #data type

str

In [10]:
test1()+" rohan" #concatenation possible

'this is my first function rohan'

In [11]:
def test2(): # defining function
    return("hello i am learning to create a function") #body of the function

In [12]:
test2() #calling out the function

'hello i am learning to create a function'

In [13]:
def test3():
    return 1,3,4,[1,2,3,4,54,23,4]

In [14]:
test3() #multiple items are returned as tuples

(1, 3, 4, [1, 2, 3, 4, 54, 23, 4])

In [15]:
a=test3()

In [16]:
a

(1, 3, 4, [1, 2, 3, 4, 54, 23, 4])

In [17]:
a,b,c,d = test3() #parallel assignment of values in tuple

In [18]:
a

1

In [19]:
b

3

In [20]:
c

4

In [21]:
d

[1, 2, 3, 4, 54, 23, 4]

In [22]:
def test4(): #naming the function
    a=4*5  #body of the function started from here
    b=6*4
    return a,b

In [23]:
test4() #output of function is returned as a tuple

(20, 24)

In [24]:
g=test4()

In [25]:
g

(20, 24)

In [26]:
x,y=test4()

In [27]:
x

20

In [28]:
y

24

In [29]:
_ , m = test4()

In [30]:
m

24

In [31]:
_ #underscore is called as the placeholder

20

In [32]:
test3()

(1, 3, 4, [1, 2, 3, 4, 54, 23, 4])

In [33]:
#if i have to extract only the fourth item, then i can give mere placeholders assignment to rest of the items
_,_,_,w=test3()

In [34]:
w

[1, 2, 3, 4, 54, 23, 4]

In [35]:
#the purpose of function is that it facilitates re-usability of the existing code + facilitates modularity of the code

In [36]:
def pattern():
    n=4 
    for i in range(n):
        for j in range(0,i+1):
            print("rohan",end=" ")
        print("\n")

In [37]:
pattern()

rohan

rohan rohan

rohan rohan rohan

rohan rohan rohan rohan

In [38]:
def test6():
    a=1
    b=10
    while a <=b:
        print(a)
        a=a+2
    else:
        print("print this else block")

In [39]:
test6()

1
3
5
7
9
print this else block

In [40]:
def test6(a,b): #faciliating netry of values of a and b by the user
    while a <=b:
        print(a) #print statement will give none data type
        a=a+2
    else:
        print("print this else block") #but print statement will give none data type

In [41]:
test6(1,10) #passing the value when we are calling out the function

1
3
5
7
9
print this else block

In [42]:
test6(3,28)

3
5
7
9
11
13
15
17
19
21
23
25
27
print this else block

In [43]:
#print statement in the above codes will give none data types
# we cannot replace print statement with return statement since return statement returns only one value and stops
#i.e return statement is not a substitute of the print statement

In [44]:
#another way to prevent none data type as the output

In [45]:
def test7(a,b):
    l=[]
    while a <= b:
        #print(a)
        l.append(a)
        a=a+2
    else:
        print("print this else block")
    return l    #return statement returns only one value and then closes #also, it returns the existing data type unlike print which gives none data type

In [46]:
test7(3,28)

print this else block

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

In [47]:
l=[4,2,3,53,634,64,99,95,3,432,[3,5,6,3,66,4344,34],"rohan"]

In [48]:
#challenge = extract all the integers

In [49]:
#function = inductive methodology, generalisations, natural laws

In [50]:
l1=[]  #coding using applying logic
for i in l:
    if type(i)==int:
        l1.append(i)

In [51]:
l1

[4, 2, 3, 53, 634, 64, 99, 95, 3, 432]

In [52]:
#function approach to above challenge

In [53]:
def test8(l1): #passing the argument to make the function generic to user input 
    l2=[]
    for i in l1:
        if type(i)==int:
            l2.append(i)
    return l2

In [55]:
test8(l1) #function approach to the above challenge

[4, 2, 3, 53, 634, 64, 99, 95, 3, 432]

In [56]:
l5=[353,656,3,65,865,4,6,"rohan",(5,7,8)]

In [57]:
#challenge= extract integers using the function test8 already created

In [63]:
test8(l5) #calling out test8 with l5 as input

[353, 656, 3, 65, 865, 4, 6]

In [65]:
t=(3,4,5,6,67,7,87)
a = -1
while a >=  -len(t):
        if t[a]==6 or t[a]==7:
            print(a)
        a=a-1

-2
-4

In [67]:
def test9(t):
    a = -1
    while a >=  -len(t):
        if t[a]==6 or t[a]==7:
            print(a)
        a=a-1

In [69]:
test9(t)

-2
-4

In [70]:
t1=(6,7,4,6,7,7,76,6,7,76,6)

In [71]:
test9(t1)

-1
-3
-4
-6
-7
-8
-10
-11