In [1]:
def test(a,b): #naming function
    return a + b    #body of the function

In [2]:
test(2,3)

5

In [3]:
test("rohan"," pradhan")

'rohan pradhan'

In [4]:
test(a=9, b=6)

15

In [5]:
test(b=6,a=9) # order of variables can be changed

15

In [6]:
#every inbuilt function has a docstring
#similarly we can create our docstring of our own functions created by us
#docstrings=are readable instructions for a user=can be seen using shift+tab

In [7]:
def test1(a,b):
    '''this is my function  for concatenation or addition''' #this is the docstring created by me for function test1()
    return a + b

In [8]:
test1(1,4) #check shift+tab to see the docstring

5

In [9]:
 def test2(a,b,c,d,e):
        return a,b,c,d,e

In [10]:
#test2(1,2,3,4,5,6) #error bcz of too many entries

In [11]:
#test2(1,2,3,4) #error bcz of less no. of entries

In [12]:
def test3(*a): #asterick signifies that the user can make any no. of entries
    """this function takes any no. of input entries from the user"""
    return a

In [13]:
test3(6,3,4,34,3,5)

(6, 3, 4, 34, 3, 5)

In [14]:
test3(3,4) #the function would return any no. of parameters in the form of tuple(by default)

(3, 4)

In [15]:
def test4(*a):
    """this function would return the inputs in the form of list data type"""
    l=[]
    for i in a:
        l.append(i)
    return l

In [16]:
test4(2,4,6,3,4,5,3,4,[354,56,7,98])

[2, 4, 6, 3, 4, 5, 3, 4, [354, 56, 7, 98]]

In [17]:
def test5(a,b,c,d,*m):
    return a,b,c,d,m

In [18]:
test5(3,7,8,5,34,54,67,74,456,74) # notice how the ouput is written

(3, 7, 8, 5, (34, 54, 67, 74, 456, 74))

In [19]:
def test6(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [20]:
#test6(32,5,6,7,8,5,56,7676,57) #error bcz all the inputs got consumed by *m only, and no input is assigned to a,b,c,d,e

In [21]:
test6(3.5435,3,43,5,7765,56,675,a=2,b=59,c=55,d=88,e=45) #need for named assignment when *m is at the starting

((3.5435, 3, 43, 5, 7765, 56, 675), 2, 59, 55, 88, 45)

In [22]:
def test8(**kv):  #** double asterick for a key-value type of input i.e in case of dictionary
    return kv

In [23]:
#test8(2,6,8,5,36,63,6,3)

In [24]:
test8(b=4 , c=7, d=34,e=[4,6,46,46])

{'b': 4, 'c': 7, 'd': 34, 'e': [4, 6, 46, 46]}

In [25]:
d={'b': 4, 'c': 7, 'd': 34, 'e': 99}

In [26]:
def test9(*m,**s):
    return m, s

In [27]:
test9(34,563,63,66,36,b=3,c=56,d=44)

((34, 563, 63, 66, 36), {'b': 3, 'c': 56, 'd': 44})

In [28]:
def test10(*m): #input is taken in the form of tuples
    """this function will do summation of all the inputs entered  through the arguments"""
    n=0
    for i in m:
        if type(i)==int:
            n=n+i
    return n

In [29]:
test10(3,6,8,4)

21

In [30]:
def test10(*m): #input is taken in the form of tuples
    """this function will do multiplication of all the inputs entered  through the arguments"""
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
    return n

In [31]:
test10(3,99,2)

594

In [32]:
#lambda functions= anonymous function= inline function

In [33]:
n = lambda a,b:a+b #lambda keyword is reserved keyword for anonymous(no name to be defined) function
#not recommended for complex logic

In [34]:
n(4,5)

9

In [35]:
def test11(a,b): #this is a fully defined function
    return a+b

In [36]:
test11(4,5)

9

In [37]:
#both the above functions "n" and "test11" are similar w.r.t functionality

In [38]:
b= lambda *rohan:rohan #before: is the input, after: is the body part
"""this function returns the input as it is"""

'this function returns the input as it is'

In [39]:
b(3,5,6,7,8,34,55,654,776,56)

(3, 5, 6, 7, 8, 34, 55, 654, 776, 56)

In [40]:
#COMPREHENSION OPERATIONS

In [41]:
t=(3,5,6,3,53,66,345,32) 
l=[]   #converting tuple t into a list l
for i in t:
    l.append(i)

In [42]:
l

[3, 5, 6, 3, 53, 66, 345, 32]

In [43]:
#another way=LIST COMPREHENSION OPERATION
[i for i in t] #read it as= [for i in t, return i] #square brackets here is the LIST COMPREHENSION

[3, 5, 6, 3, 53, 66, 345, 32]

In [44]:
s="rohan"

In [45]:
[i for i in s]

['r', 'o', 'h', 'a', 'n']

In [46]:
#challenge:list of square of all numbers till 10

In [47]:
[i*i for i in range(11)] # for i in range(11), return i*i

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
l3=[]
for i in range(11):
    l3.append(i*i)

In [49]:
l3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
n4=lambda *x:[i for i in x] #returning the input values in the form of list

In [51]:
n4(3,6,8,9,4,7,84,45,7)

[3, 6, 8, 9, 4, 7, 84, 45, 7]

In [52]:
n5=lambda y:[i**2 for i in y] #i*i is equivalent to i**2

In [53]:
n5(y=range(11))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
n5=lambda *y:[i**2 for i in y] #i*i is equivalent to i**2

In [55]:
n5(3,5,6)

[9, 25, 36]

In [56]:
#NOTE= we cannot give docstring to the lambda function

In [57]:
#test14(a=7, b="rohan", c=756, d="pradhan",l=[3,4,6,74,"aman"]) 
#challenge=count the number of strings passed thru the arguments

In [58]:
def test14(**kv):
    print(kv) #dictionary data type
    print(kv.values())
    count=0
    for i in kv.values():
        if type(i)==str:
            count=count+1 
        if type(i)==list:
            for w in i:
                if type(w)==str:
                    count=count+1
    return count

In [59]:
test14(a=7, b="rohan", c=756, d="pradhan",l=[3,"sharma",6,74,"aman"])

{'a': 7, 'b': 'rohan', 'c': 756, 'd': 'pradhan', 'l': [3, 'sharma', 6, 74, 'aman']}
dict_values([7, 'rohan', 756, 'pradhan', [3, 'sharma', 6, 74, 'aman']])

4

In [60]:
def test15(**kv):
    return list(kv.values()) #converting dict datatype into list data type

In [61]:
test15(a=7, b="rohan", c=756, d="pradhan",l=[3,"sharma",6,74,"aman"])

[7, 'rohan', 756, 'pradhan', [3, 'sharma', 6, 74, 'aman']]