In [1]:
a = 10
if a == 10 : #==comparison operator #= is the assignment operator # : after if statement=called as indentation
     print("this is my first condition") #this execution will take place only if the if statement is right

this is my first condition

In [2]:
b=12
if b == 10:
    print("yay i made it") #this statement will not be executed bcz the if statement is not satisfied.

In [4]:
a=9
if a>5:
     #error since it expected an indented block

IndentationError: expected an indented block (1802246187.py, line 4)

In [5]:
a=9
if a>5:
    pass #pass will behave as a indented block which will not do anything.

In [6]:
a=10
if a>8:
    print("print this if condition is true")

print this if condition is true

In [7]:
a=10
if a !=11:
     print("my condition is false")
else :
    print("print this")

my condition is false

In [8]:
a=10
if a ==11:
     print("my condition is false")
else :
    print("print this")

print this

In [9]:
#elif operator= to check multiple conditions in a sequential manner

In [10]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a == 11:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [11]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a == 10:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

we are trying to compare 10 with 11

In [12]:
#indentation is required in python

In [13]:
price = 500

if price > 500:
    print("i wont be able to buy a jacket")
elif price <= 500:
    print("i will be able to buy a jacket")

i will be able to buy a jacket

In [14]:
price = 500

if price > 500:
    print("i wont be able to buy a jacket")
elif price <= 500:
    print("i will be able to buy a jacket")
else price == 500: # else operator me koi condition allowed nhi hai, thts why error aaya
    print("i dont know")

SyntaxError: invalid syntax (571339513.py, line 7)

In [15]:
price = 500

if price > 500:
    print("i wont be able to buy a jacket")
elif price <= 500:
    print("i will be able to buy a jacket") #the statement terminates upon satisfaction of the first condition 
elif price == 500:
    print("i dont know")

i will be able to buy a jacket

In [16]:
price = 500

if price > 500:
    print("i wont be able to buy a jacket")
elif price < 500:
    print("i will be able to buy a jacket")
elif price == 500:
    print("i dont know")
else:
    print("random number")

i dont know

In [17]:
price>500

False

In [18]:
price<500

False

In [19]:
price==500

True

In [20]:
l = [1,2,4,6,3,24,5,53,32,246]

2 in l

True

In [21]:
if 2 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

try to perform a task

In [22]:
if 60 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

do not perform this task

In [23]:
if 1 in l:
    print("watch stranger things") #statement terminates upon satisfaction of the first condition which it encounters.
elif 2 in l:
    print("watch big bang theory")
elif 4 in l:
    print("watch documentary")

watch stranger things

In [24]:
if 10 in l:
    print("watch stranger things") 
elif 2 in l:
    print("watch big bang theory")#statement terminates upon satisfaction of the first condition which it encounters.
elif 4 in l:
    print("watch documentary")

watch big bang theory

In [25]:
if 10 in l:
    print("watch stranger things") 
elif 2 in l:
    print("watch big bang theory")#else statement terminates upon satisfaction of the first condition which it encounters.
elif 4 in l:
    print("watch documentary")

if  24 in l: # this is completely different block
    print("watch friends") #kernel checks every if statement

watch big bang theory
watch friends

In [26]:
#lesson: kernel checks every if statement,
# kernel terminates in elif statement upon satisfaction of the very first statement and doesnot check further elif statements

In [27]:
a = 400

In [28]:
b= input() #input is an inbuilt function which takes value from the user

In [29]:
type(b)  #NOTE: by default, input is taken as a string irrespective of the data type feeded into the input.

str

In [30]:
b #string format

''

In [31]:
b=int(b) #type casting the input into int format

ValueError: invalid literal for int() with base 10: ''

In [ ]:
b

In [32]:
type(b)

str

In [39]:
price = int(input()) #type casting is done in the input stage only
if price<500:
    print("i will be able to buy something")
    if price<400: #NESTED IF STATEMENT
        print("i will be able to buy a jacket")
    elif price<300:
        print("i will be able to buy a shirt")
    else:
        print("i wont be able to buy anything")
        
else:
    print("i wont be able to buy anything with this price tag")

399
i will be able to buy something
i will be able to buy a jacket

In [40]:
price = int(input()) #type casting is done in the input stage only
if price<500:
    print("i will be able to buy something")
    if price<400: #NESTED IF STATEMENT
        print("i will be able to buy a jacket")
    elif price<300:
        print("i will be able to buy a shirt")
    else:
        print("i wont be able to buy anything")
        
else:
    print("i wont be able to buy anything with this price tag")
    if price>500:
        print("lets try something else")

600
i wont be able to buy anything with this price tag
lets try something else

In [57]:
marks = int(input("enter your marks"))
if marks > 600:
    print("you have qualified GRE")
else:
    print(" you have not qualified GRE")
    if marks<500:
        print("you have qualified TOFFEL")
    if marks<400:
        print("try something else")

enter your marks333
 you have not qualified GRE
you have qualified TOFFEL
try something else

In [56]:
marks = int(input("enter your marks"))
if marks > 600:
    print("you have qualified GRE")
else:
    print("you have not qualified GRE")
    if 400<marks<500: #WE CAN WRITE RANGES AS WELL
        print("you have qualified TOFFEL")
    if marks<400:
        print("try something else")

enter your marks301
you have not qualified GRE
try something else

In [59]:
val = float(input("enter a floating point number "))
if val>=0:
    if val==0:
        print("entered value is zero")
    else:
        print("entered value is a positive number")
else:
    print("entered number is a negative number ")

enter a floating point number 2
entered value is a positive number

In [60]:
a = 10
if a<10 or a ==10 : #OR operator =to check multple conditions 
    print("try to do something")

try to do something

In [62]:
a = 10
if a<10 or a >10 : #OR operator =to check multple conditions 
    print("try to do something")
else:
    print("do not do anything")

do not do anything

In [63]:
a = 9
if a<10 and a ==9 : #AND operator =to check multple conditions 
    print("try to do something")
else:
    print("skip this class")

try to do something

In [66]:
a = 10
b = 12
c = 19
d = 24
if a==9 and b==12 and c==19 and d==24:
    print("lets do something")
else:
    print("we need to work hard")

we need to work hard

In [67]:
a = 10
b = 12
c = 19
d = 24
if a==9 or b==12 and c==19 and d==24:
    print("lets do something")
else:
    print("we need to work hard")

lets do something

In [68]:
d={"key1":"value","key2":"rohan","key3":"scalar"}

In [69]:
d["key1"]

'value'

In [72]:
if d["key1"]=="value" and d["key2"]=="rohan" and d["key3"]=="scalar":
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['value', 'rohan', 'scalar'])

In [73]:
if d["key1"]=="value" and d["key2"]=="rohan" and d["key3"]=="sCalar":
    print("all the values are verified")
    print(d.values())
else:
    print("values are incorrect")

values are incorrect