In [1]:
l=[1,3,6,74,4]

In [2]:
for i in l:
    print(i)

1
3
6
74
4

In [3]:
#next(l) #error bcz although list object is iterable but next() is applied on iterator only.
# to remove the error, first we have to convert the iterable into the iterators using iter() function

TypeError: 'list' object is not an iterator

In [ ]:
#understanding how the FOR loop is working internally

In [5]:
b=iter(l) #iterator function

In [7]:
next(b) #next function return the  next item from the iteratables

1

In [8]:
next(b)

3

In [10]:
next(b)

6

In [11]:
next(b)

74

In [12]:
next(b)

4

In [13]:
#next(45) #error bcz int object is not iterable and hence not iterator

TypeError: 'int' object is not an iterator

In [14]:
#iter(45) #error bcz int object is not iterable

TypeError: 'int' object is not iterable

In [15]:
#difference between iterator and iterable
#an object or a dataset which is iterable i.e list,tuples,strings etc, only those datasets can be converted into iterator.
# integers are not iterables, hence integers cannot be converted into iterators

In [16]:
#when FOR loop operates:
#it calls iter() function internally i.e FOR loop internally converts iterables datasets into iterators
#using the next() function, it extracts the iterator data one by one

In [17]:
#for i in 3435325342: #integer element is not iterable
    print(i)

TypeError: 'int' object is not iterable

In [18]:
l

[1, 3, 6, 74, 4]

In [19]:
for i in l: #list element is iterable object
    print(i)

1
3
6
74
4

In [20]:
#FOR loop works in the following ways:
# iter() function converts iterable in iterator
#next() function extract data one by one from the iterator=calling the data one by one
#len() function to know where to stop the next() function

In [21]:
#is it possible to convert any object into iterator?
#no, only iterables can be converted into iterators

In [22]:
s="rohan"

In [23]:
#next(s) #error bcz next() function works on the iterators and not iterables.

TypeError: 'str' object is not an iterator

In [24]:
s1="pradhan"

In [28]:
x=iter(s1)  # converting the string(which is iterable) into iterators

In [29]:
next(x)

'p'

In [30]:
next(x)

'r'

In [31]:
next(x)

'a'

In [32]:
next(x)

'd'

In [33]:
next(x)

'h'

In [34]:
next(x)

'a'

In [35]:
next(x)

'n'

In [36]:
next(x)

StopIteration:

In [38]:
s2="pradhan"
for i in s2:
    print(i)

p
r
a
d
h
a
n

In [39]:
#iter() and next() function are not used in real time and are implicitly used in FOR loop