In [1]:
list=[1,21,12.3,True,"sudh"] #string and list operations are mostly same

In [2]:
list[1]

21

In [3]:
list[-1]

'sudh'

In [4]:
len(list)

5

In [5]:
list[0:5] # list slicing operation

[1, 21, 12.3, True, 'sudh']

In [6]:
 list[::-1]

['sudh', True, 12.3, 21, 1]

In [7]:
list

[1, 21, 12.3, True, 'sudh']

In [8]:
list[0:100]

[1, 21, 12.3, True, 'sudh']

In [9]:
list[0:100:2]

[1, 12.3, 'sudh']

In [10]:
list[0:100:-1] #contradiction of direction #use scale manually

[]

In [11]:
list[:3]

[1, 21, 12.3]

In [13]:
list+"rohan" #data type mismatch between list and string

TypeError: can only concatenate list (not "str") to list

In [14]:
list+["rohan"] #concatenation operation happens only on same data set

[1, 21, 12.3, True, 'sudh', 'rohan']

In [15]:
list*2

[1, 21, 12.3, True, 'sudh', 1, 21, 12.3, True, 'sudh']

In [16]:
60 in list # IN as an operator

False

In [17]:
1 in list

True

In [18]:
max(list) #string and int cannot be compared.

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
list1=[1,2,3,4,7,8] #only similar data types can be compared

In [20]:
max(list1)

8

In [21]:
list2=["rohan", "amante", "rahul", "ravi","chandranshu"]

In [22]:
max(list2)  #only same data types can be compared.  #it gave max. in terms of the alphabetical order.

'rohan'

In [23]:
min(list2)

'amante'

In [24]:
min(list1)

1

In [25]:
list

[1, 21, 12.3, True, 'sudh']

In [26]:
list.append("pradhan")
#append the data set at the very last of the list

In [27]:
list

[1, 21, 12.3, True, 'sudh', 'pradhan']

In [28]:
list.append([9,4664,172,133]) #append takes only a single element at a time, single element is in the square bracket only.

In [29]:
list

[1, 21, 12.3, True, 'sudh', 'pradhan', [9, 4664, 172, 133]]

In [30]:
list.pop(0)  #remove the data from the existing list #return the item from the given index of the list

1

In [31]:
list

[21, 12.3, True, 'sudh', 'pradhan', [9, 4664, 172, 133]]

In [32]:
list.pop() #if index not mentioned insie the pop function,then it assumes the last index i.e 
#ill remove data from the last index.

[9, 4664, 172, 133]

In [33]:
list

[21, 12.3, True, 'sudh', 'pradhan']

In [34]:
list.reverse() #reverse the entire list permananently and also over writes the list with the new reverse list

In [35]:
list

['pradhan', 'sudh', True, 12.3, 21]

In [36]:
list

['pradhan', 'sudh', True, 12.3, 21]

In [37]:
list[::-1] #reverse the list only in the run time and does not overwrites the list

[21, 12.3, True, 'sudh', 'pradhan']

In [38]:
list

['pradhan', 'sudh', True, 12.3, 21]

In [39]:
list.append(3737,2323) #append takes only a single element at a time

TypeError: list.append() takes exactly one argument (2 given)

In [40]:
list.append([3737,2323]) #square bracket signifies only one single element

In [41]:
list

['pradhan', 'sudh', True, 12.3, 21, [3737, 2323]]

In [42]:
list.sort() #int and str cannot be compared and hence cannot be sorted, hence the error.

TypeError: '<' not supported between instances of 'bool' and 'str'

In [43]:
list1=[7,2,9,4,5,2,8,356]

In [44]:
list1.sort() #only same data set can be sorted

In [45]:
list1 #sorting the elements in the  ascending order

[2, 2, 4, 5, 7, 8, 9, 356]

In [46]:
list1.sort(reverse=True)  #sorting the element in the descending order

In [47]:
list1

[356, 9, 8, 7, 5, 4, 2, 2]

In [48]:
list1=[2,3,4]
list2=[6,7,8]
list3=[3,64,3]

In [49]:
list4=[list1+list2+list3] #concatenation of the list

In [50]:
list4

[[2, 3, 4, 6, 7, 8, 3, 64, 3]]

In [51]:
list5=[list1,list2,list3]

In [52]:
list5 #lists inside list

[[2, 3, 4], [6, 7, 8], [3, 64, 3]]

In [53]:
list5[2]

[3, 64, 3]

In [54]:
list5[2][1] #extract 64 from the third element sublist of list

64

In [55]:
 list6=[2,3,4343,5,554,332,223,23,34,23,2323,232,23]

In [56]:
list6.count(23) #number of times 23 occured

3

In [57]:
list

['pradhan', 'sudh', True, 12.3, 21, [3737, 2323]]

In [58]:
list.append("ineuron")

In [59]:
list

['pradhan', 'sudh', True, 12.3, 21, [3737, 2323], 'ineuron']

In [60]:
list.append([2,4,"rohan"]) #appending a single element i.e a single list inside the list

In [61]:
list

['pradhan', 'sudh', True, 12.3, 21, [3737, 2323], 'ineuron', [2, 4, 'rohan']]

In [62]:
list.extend("sudh")

In [63]:
list

['pradhan',
 'sudh',
 True,
 12.3,
 21,
 [3737, 2323],
 'ineuron',
 [2, 4, 'rohan'],
 's',
 'u',
 'd',
 'h']

In [64]:
list4=[1,3,5]

In [65]:
list4.append([4,6,7]) #append the data set as it is

In [66]:
list4

[1, 3, 5, [4, 6, 7]]

In [67]:
list4.append("rohan")

In [68]:
list4

[1, 3, 5, [4, 6, 7], 'rohan']

In [69]:
list4.extend([9,8,19]) #unlike append, it first unravels the entire dataset one by one, then add those data set one by one 
#as part of existing element

In [70]:
list4

[1, 3, 5, [4, 6, 7], 'rohan', 9, 8, 19]

In [71]:
list4

[1, 3, 5, [4, 6, 7], 'rohan', 9, 8, 19]

In [72]:
list4.append("rohan")

In [73]:
list4

[1, 3, 5, [4, 6, 7], 'rohan', 9, 8, 19, 'rohan']

In [74]:
list4.extend("pradhan") #extend function unwrapped the data set one by one and added one by one to the list.

In [75]:
list4

[1,
 3,
 5,
 [4, 6, 7],
 'rohan',
 9,
 8,
 19,
 'rohan',
 'p',
 'r',
 'a',
 'd',
 'h',
 'a',
 'n']

In [76]:
list4.extend(4) #int object is not iterable,hence cannot be extended

TypeError: 'int' object is not iterable

In [77]:
list4.extend([4]) # square bracket ko wholesome ek single element or dataset mana jaata hai
#list object is iterbale,hence extendable

In [78]:
list4

[1,
 3,
 5,
 [4, 6, 7],
 'rohan',
 9,
 8,
 19,
 'rohan',
 'p',
 'r',
 'a',
 'd',
 'h',
 'a',
 'n',
 4]

In [79]:
list4.extend("rohan") #square bracket ko wholesome ek single element or dataset mana jaata hai
#string is iterable
#list is iterable

In [80]:
list4

[1,
 3,
 5,
 [4, 6, 7],
 'rohan',
 9,
 8,
 19,
 'rohan',
 'p',
 'r',
 'a',
 'd',
 'h',
 'a',
 'n',
 4,
 'r',
 'o',
 'h',
 'a',
 'n']

In [81]:
list4.extend(["rohan"]) #list is iterable,hence can extend

In [82]:
list4

[1,
 3,
 5,
 [4, 6, 7],
 'rohan',
 9,
 8,
 19,
 'rohan',
 'p',
 'r',
 'a',
 'd',
 'h',
 'a',
 'n',
 4,
 'r',
 'o',
 'h',
 'a',
 'n',
 'rohan']

In [83]:
  list4.extend("sharma") #string is iterable,hence can extend

In [84]:
list4

[1,
 3,
 5,
 [4, 6, 7],
 'rohan',
 9,
 8,
 19,
 'rohan',
 'p',
 'r',
 'a',
 'd',
 'h',
 'a',
 'n',
 4,
 'r',
 'o',
 'h',
 'a',
 'n',
 'rohan',
 's',
 'h',
 'a',
 'r',
 'm',
 'a']

In [85]:
list4.extend(["amante","vermante"]) #list is iterable, hence can  extend.
#iterable means it stores a dataset index wise
#extend performs operation index-wise

In [86]:
list4

[1,
 3,
 5,
 [4, 6, 7],
 'rohan',
 9,
 8,
 19,
 'rohan',
 'p',
 'r',
 'a',
 'd',
 'h',
 'a',
 'n',
 4,
 'r',
 'o',
 'h',
 'a',
 'n',
 'rohan',
 's',
 'h',
 'a',
 'r',
 'm',
 'a',
 'amante',
 'vermante']

In [87]:
list7=[2,4,5,3,66,4324,5435,32,5,3,'sugh','roha','geography']

In [88]:
list7

[2, 4, 5, 3, 66, 4324, 5435, 32, 5, 3, 'sugh', 'roha', 'geography']

In [89]:
list7.index(4) #tells that 4 is available at what(first occurrence only) index of the string.

1

In [90]:
list7.index(66)

4

In [91]:
list=[1,4,64,36,6]

In [92]:
list

[1, 4, 64, 36, 6]

In [93]:
list.append(65)

In [94]:
list

[1, 4, 64, 36, 6, 65]

In [95]:
list.insert(1,"rohan")  #insert the element "rohan" at index no. 1

In [96]:
list

[1, 'rohan', 4, 64, 36, 6, 65]

In [97]:
list.insert(4,[9,99,66,33])

In [98]:
list

[1, 'rohan', 4, 64, [9, 99, 66, 33], 36, 6, 65]

In [99]:
#LESSON:
#append operator inserts data only at the end of the list
#insert operator inserts the data wherever you want.

In [100]:
 list

[1, 'rohan', 4, 64, [9, 99, 66, 33], 36, 6, 65]

In [101]:
list.pop() #if index is not specified in the pop operation,then by default the last item is popped out of the list.

65

In [102]:
list

[1, 'rohan', 4, 64, [9, 99, 66, 33], 36, 6]

In [103]:
list.pop(2) #if index is specified, then that data is removed specificallly from that index

4

In [104]:
list.remove("rohan")  #Remove first occurrence of value #here the dataset to be removed is specified, and  not the index

In [105]:
list

[1, 64, [9, 99, 66, 33], 36, 6]

In [106]:
list.remove(64)

In [107]:
list

[1, [9, 99, 66, 33], 36, 6]

In [108]:
 list[2]

36

In [109]:
list[3]="pradhan"  #re-assignment of value in the list #item reassignment operation

In [110]:
list  #lesson- list elements are mutable

[1, [9, 99, 66, 33], 36, 'pradhan']

In [111]:
s="iNeuron"

In [112]:
s[2]

'e'

In [113]:
s[3]= "z"

TypeError: 'str' object does not support item assignment

In [114]:
#LESSON: string elements are immutable, therefore item reassignment operation cannot be done in between the iterables.

In [115]:
#lesson: List is a mutable entity

In [116]:
#LESSON: tuples are immutable

In [117]:
#NOTE- tuples are kind of element which are  able to hold heterogenous datasets inside a single element,just like a LIST.
#but unlike LIST, tuples are immutable i.e reassignment operation cannot be done inside the tuple iterables.
#tuples are placed inside circular brackets
#list is places inside square brackets.

In [118]:
t=(4,5,6,33,57,3,"True")  #tuple creation by circular bracket, but for other operations on tuples , square brackets.

In [119]:
type(t)

tuple

In [120]:
t[0] #extraction of element from the tuple==similar to list and string

4

In [121]:
t[1:4:1] #slicing operation

(5, 6, 33)

In [122]:
t[-1]

'True'

In [123]:
t[-2]

3

In [124]:
t

(4, 5, 6, 33, 57, 3, 'True')

In [125]:
t[0:6:2]

(4, 6, 57)

In [126]:
t[0:4:-1] #contradiction of direction of jump

()

In [127]:
t

(4, 5, 6, 33, 57, 3, 'True')

In [128]:
t[5]

3

In [129]:
t[4]="rohan"  #LESSON:'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [130]:
#LESSON: TUPLES ARE IMMUTABLE elements like string, i.e item reassignment operation is not applicable
#e.g passwords are tuples.
#concatenation operation does work in the immutable elements as well.

In [131]:
t

(4, 5, 6, 33, 57, 3, 'True')

In [132]:
t1=(2,4,9,44,3,77,42,35,"ro","prahd")

In [133]:
t+t1 #tuples can be concatenated, since this opertion does not interrupts the existing datasets in the tuples.

(4, 5, 6, 33, 57, 3, 'True', 2, 4, 9, 44, 3, 77, 42, 35, 'ro', 'prahd')

In [134]:
 t3=t+t1

In [135]:
t3

(4, 5, 6, 33, 57, 3, 'True', 2, 4, 9, 44, 3, 77, 42, 35, 'ro', 'prahd')

In [136]:
t3.count(2) #count of occurrence of 2 in the tuple

1

In [137]:
t3.index("ro") #gives the index of the first occurence of the value

15

In [138]:
t6 = (2,4,62,"rohan",24,6,3345,554)

In [139]:
l=list

In [140]:
l

[1, [9, 99, 66, 33], 36, 'pradhan']

In [141]:
list

[1, [9, 99, 66, 33], 36, 'pradhan']

In [142]:
list.clear()

In [143]:
list

[]

In [144]:
t6

(2, 4, 62, 'rohan', 24, 6, 3345, 554)

In [145]:
list(t6)

TypeError: 'list' object is not callable

In [146]:
str(t6)

"(2, 4, 62, 'rohan', 24, 6, 3345, 554)"