In [1]:
t1=(2,4,6,2,66,33,86,"rohan",34,"ram",323) #tuple

In [2]:
list(t1)  #type conversion of tuple into list-see square brackets

[2, 4, 6, 2, 66, 33, 86, 'rohan', 34, 'ram', 323]

In [3]:
str(t1) #type conversion of tuple into string

"(2, 4, 6, 2, 66, 33, 86, 'rohan', 34, 'ram', 323)"

In [4]:
t2=str(t1)

In [5]:
t2

"(2, 4, 6, 2, 66, 33, 86, 'rohan', 34, 'ram', 323)"

In [6]:
tuple(t2) #type conversion of string into tuple, but it will end up loosing its meaning

('(',
 '2',
 ',',
 ' ',
 '4',
 ',',
 ' ',
 '6',
 ',',
 ' ',
 '2',
 ',',
 ' ',
 '6',
 '6',
 ',',
 ' ',
 '3',
 '3',
 ',',
 ' ',
 '8',
 '6',
 ',',
 ' ',
 "'",
 'r',
 'o',
 'h',
 'a',
 'n',
 "'",
 ',',
 ' ',
 '3',
 '4',
 ',',
 ' ',
 "'",
 'r',
 'a',
 'm',
 "'",
 ',',
 ' ',
 '3',
 '2',
 '3',
 ')')

In [7]:
#real time use of tuple= storing a password

In [8]:
d={} #dictionary in curly brackets

In [9]:
type(d)

dict

In [10]:
d1={1} #set #set in also curly brackets

In [11]:
type(d1)

set

In [12]:
#dictionary= key-value pair;if not in pairs, then it is treates as set

In [13]:
d2={"key1":"value",234:"xyz","name":"rohan","no":462846}

In [14]:
type(d2)

dict

In [15]:
#summary:
#dictionary=curly brackets==in key:value pairs
#set=curly brackets=single element, no pairs.
#list=square brackets
#tuple=circular brackets

In [16]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'rohan', 'no': 462846}

In [17]:
d2['name'] #key is acting as a index number for its value  pair

'rohan'

In [18]:
d3={"name":"sudh","tech":["python", "ml", "dl","big data","data analytics"]} #value  can be anythin=tuple,list,dict,etc

In [19]:
d3

{'name': 'sudh', 'tech': ['python', 'ml', 'dl', 'big data', 'data analytics']}

In [21]:
d3["tech"]

['python', 'ml', 'dl', 'big data', 'data analytics']

In [29]:
"python" in d3["tech"]

True

In [32]:
d4={"name":"iNeuron","contact_info":9958383823,"name":"sudh"}

In [33]:
d4 #keys need to unique in a dictionary, whereas values can be repetitive.
   #if repetitive keys, then the last value of that key overwrites the previous one

{'name': 'sudh', 'contact_info': 9958383823}

In [34]:
d4["k1"]="xyz" # adding new key-value pair to the dictionary

In [35]:
d4

{'name': 'sudh', 'contact_info': 9958383823, 'k1': 'xyz'}

In [38]:
d4["name"]="scaler academy" #over writing the already existing key with a new value.

In [39]:
d4

{'name': 'scaler academy', 'contact_info': 9958383823, 'k1': 'xyz'}

In [42]:
d4["k2"]=d2 #assigning dict as a value to key k2

In [43]:
d4

{'name': 'scaler academy',
 'contact_info': 9958383823,
 'k1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'rohan', 'no': 462846}}

In [44]:
d4["k2"]["no"]  #extracting value from sub-dict of the value of key k2

462846

In [45]:
d5={4:5}

In [46]:
d5[4]

5

In [47]:
d6={@:"gmail"} #@ symbol is not allowed for key

SyntaxError: invalid syntax (1731022643.py, line 1)

In [48]:
d7={_:"yahoo"}

In [49]:
d7[_]

'yahoo'

In [50]:
d8={(1,43,532):"rocketry"} #tuple as a key in the dictionary is allowed

In [51]:
d8

{(1, 43, 532): 'rocketry'}

In [52]:
d9={[1,53,343,343]:"juug jug jeyo"} #list as a key is not allowed in the dictionary

TypeError: unhashable type: 'list'

In [53]:
d10={{12,323,23}:"raa one"}   # dictionary as a key is not allowed in the dictionary

TypeError: unhashable type: 'set'

In [55]:
#summary
#what is allowed in key in dictionary=strings, tuples, int, NOT list, NOT dictionary=keys are generally immutable
#what is allowed in value in dictionary= everything is allowed=list,int,tuple,string,dict
#dict are mutable.

In [56]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'rohan', 'no': 462846}

In [57]:
list(d2) #dictionary can be converted to list of keys

['key1', 234, 'name', 'no']

In [58]:
l9=list(d2)

In [59]:
dict(l9) # list cannot be converted to dictionaary

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [60]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'rohan', 'no': 462846}

In [61]:
d3

{'name': 'sudh', 'tech': ['python', 'ml', 'dl', 'big data', 'data analytics']}

In [62]:
d2+d3 #concatenation operation not possible in the dictionary

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [63]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'rohan', 'no': 462846}

In [65]:
d2.keys() #extract list of keys of the dictionary

dict_keys(['key1', 234, 'name', 'no'])

In [66]:
d2.values() #extract values in the dictionary

dict_values(['value', 'xyz', 'rohan', 462846])

In [67]:
d2.items() #return the list of key-value pair in the tuple

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'rohan'), ('no', 462846)])

In [68]:
s1={12}  #set

In [69]:
type(s1)

set

In [74]:
s2={12,132,3,5,3,1,2,3,353,3}

In [75]:
type(s2)

set

In [85]:
s2 #set automatically removes repetition
#useful in cleaning data viz. removing duplicate data
#set always return a unique element
#set does not sort the dataset

{1, 2, 3, 5, 12, 132, 353}

In [78]:
s3={2,4342,22,13,86,43,"sudh",438,213,1,0,"rohan"}  #set can contain int,string,tuple,NOT list,NOT dict
#mutable entities cannot be put inside the set
#only immutable entities can be put inside the set

In [84]:
s3 #set doesnt sort the data

{0, 1, 13, 2, 213, 22, 43, 4342, 438, 86, 'rohan', 'sudh'}

In [90]:
s3[1] #set cannot give index of the asked dataset
#'set' object is not subscriptable i.e you cant subscript a dataset based on the index =unlike list,tuple,string
#to make it subscriptable, we have to convert the set into list.
#primarily,it is used to remove duplication of data

TypeError: 'set' object is not subscriptable

In [91]:
list(s3) #entire SET is converted into list, and now all the operations can be applied

[0, 1, 2, 'rohan', 43, 13, 213, 86, 4342, 22, 438, 'sudh']

In [92]:
tuple(s3) #entire SET is converted into tuple, and now all the operations can be applied

(0, 1, 2, 'rohan', 43, 13, 213, 86, 4342, 22, 438, 'sudh')

In [93]:
#challenge=remove the duplication in the list l
#step1= convert the list into set
#step2=set will remove duplication
#step3=convert the set again into the list

In [94]:
l=[1,21,22,33,33,33,1,1,1,1,1,3,3,3,3,3,3,54,5,45,4,5,5,5,5,5]

In [95]:
set(l)

{1, 3, 4, 5, 21, 22, 33, 45, 54}

In [101]:
l=list(set(l)) #list l is cleaned

In [102]:
l #list l is cleaned

[1, 33, 3, 4, 5, 45, 21, 22, 54]

In [103]:
s2

{1, 2, 3, 5, 12, 132, 353}

In [106]:
s2.add(99) #99 added to the set s2

In [107]:
s2

{1, 2, 3, 5, 12, 99, 132, 353}

In [108]:
s2.add([2,43,24,4]) #collection cannot be added in the set

TypeError: unhashable type: 'list'

In [109]:
s3

{0, 1, 13, 2, 213, 22, 43, 4342, 438, 86, 'rohan', 'sudh'}

In [110]:
s3.add((2,32,12)) #adding tuple to the set

In [111]:
s3

{(2, 32, 12), 0, 1, 13, 2, 213, 22, 43, 4342, 438, 86, 'rohan', 'sudh'}

In [112]:
s3.remove(213) #remove the value from the set, if the input value is not in the set then show error

In [113]:
s3

{(2, 32, 12), 0, 1, 13, 2, 22, 43, 4342, 438, 86, 'rohan', 'sudh'}

In [114]:
s3.discard(43) #discard the value ffrom the set, if the input value is not in the set, then do nothing

In [115]:
s3

{(2, 32, 12), 0, 1, 13, 2, 22, 4342, 438, 86, 'rohan', 'sudh'}